.about-us {
    display: grid;
    grid-template-columns: 1.5fr 2fr;
    margin: 20px 10%;
    padding: 3% 2%;
    background: #e6e8da;
    border: 1px solid #ff4372;
    border-radius: 10px;
}
.about-us__img {
    height: 500px;
    justify-self: center;
    align-content: center;
}
.about-us__img img {
    height: 90%;
    border-radius: 5px;
}
.about-us__info {
    display: grid;
    grid-template-rows: 1fr 2fr 1fr;
    color: black;
    padding: 0 8% 0 2%;
    margin-top: 17px;
    text-align: justify;
}
.about-us__info h2 {
    font-family: "Anton", sans-serif;
    font-size: xxx-large;
    text-transform: uppercase;
}
.about-us__info span {
    font-weight: 600;
    color: #ff4372;
    font-size: 15px;
}
.about-us__info h4 {
    font-size: 18px;
}
.about-us__info p {
    padding-top: 10px;
    font-size: 15px;
}
.about-us__social {
    display: flex;
    align-items: center;
    margin-top: 17px;
}
.about-us__social button {
    height: 50px;
    width: 50px;
    margin-right: 13px;
    padding: 9px;
    border: none;
    border-radius: 100px;
    color: #e6e8da;
    background: #ff4372;
}
.about-us__social button:hover {
    color: #ff4372;
    background: #e6e8da;
}