.sales {
    height: 550px;
    width: 90%;
    margin: 100px 5%;
    background-image: url(/assets/img/promotion-banner.png);
    border-radius: 20px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
